sphinx
vibration_toolbox
PyQt5
fortran-magic
cffi_magic
jupyterlab-discovery
cite2c
rpy2
# https://discourse.jupyter.org/t/tip-speed-up-binder-launches-by-pulling-github-content-in-a-binder-link-with-nbgitpuller/922
